.jumbotron {
    background-image: url("./assets/jumboimg/ancientrainforest.jpg");
    background-repeat: no-repeat;
}

.display-4 {
    text-align: center;
    color: firebrick;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    }
   
    #dino-form {
    display: none;
    background-color: rgb(238, 108, 33);
    font-weight: bold;
        
    }

   #dino-kennel {
       background-color: greenyellow;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
      
   }

   .dino_card {
       border: solid black 2px;
       border-radius: 10px;
       background-color: antiquewhite;
       
   }
   .card-title {
       text-align: center;
       background-color: whitesmoke;
       border: solid gray 1px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: large;
   }
   #dino-graveyard {
        background-color: gray;
   }

   #dino-hospital {
        background-color: burlywood;
   }

   #dino-button {
       display: flex;
       justify-content: center;
       background-color: white;
       color: darkgoldenrod;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 20px;
   }